.sidenav-container {
  /*height: 100%;*/
}

.sidenav {
  width: 200px;
}

.mat-sidenav-content {
  padding: 10px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
